<div class="row">
  <div id="profile">
    <%= render partial: '/users/partials/user_profile', locals: { user: @user } %>
  </div>
</div>

<% if @user.id == current_user.id %>
  <%= render partial: "/users/partials/dashboard" %>  
<% end %>

<% if @user.id != current_user.id %>
  <%= render partial: "/users/partials/common_activities", locals: { activities: current_user.activities_with(@user) } %>  
<% end %>



<% dump_to_js @dashboard, 'dashboard' %>