<div class="container" style="margin-top: 81px;">

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <%= render partial: "/users/partials/profile_summary_block", locals: { user: @user } %>
    </div>

    <div class="col-lg-offset-1 col-lg-8" id="divActivityFeed">
      <%
        if params[:controller] == "users" && params[:action] == "homepage"
          concat render partial: "users/partials/user_activity_feed", locals: { user: @user, feed: UserActivityFeedPresenter.new(@user) }
        else
          concat "Never gonna give you up never gonna let you down"
        end
      %>
    </div>
  </div>


  <%= yield %>
</div>

